* {
    box-sizing: border-box;
}

body {
    background-color: #eee;
}

.container {
    margin: 50px 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#authors {
    width: max-content;
}

.cards-field {
    width: 50%;
    height: 400px;
    margin: 50px 100px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card {
    width: 170px;
    height: 100px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    border: 2px solid black;
}

.card > div {
    border: 1px solid white;
}

.numbers {
    display: flex;
    margin: 25px 100px;
    width: 50%;
    justify-content: space-around;
}

.page {
    width: 40px;
    height: 40px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#firstPage {
    background-color: black;
    color: #fff;
}

input {
    width: 943.5px;
    height: 30px;
    border: 2px solid black;
}