* {
    box-sizing: border-box;
}

body {
    background-color: #eee;
    display: flex;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    row-gap: 50px;
    column-gap: 20px;
}

.inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid navy;
}

img {
    border-bottom: 2px solid red;
    width: 100%;
}

.info {
    padding: 5px;
    width: 100%;
    border-bottom: 1px solid green;
    display: flex;
    justify-content: center;
    color: darkmagenta;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    font-weight: bolder;
    font-style: italic;
}

@media screen and (max-width: 1700px) {
    .container {
        grid-template-columns: repeat(9, 1fr);
    }
}

@media screen and (max-width: 1500px) {
    .container {
        grid-template-columns: repeat(8, 1fr);
    }
}

@media screen and (max-width: 1330px) {
    .container {
        grid-template-columns: repeat(7, 1fr);
    }
}

@media screen and (max-width: 1165px) {
    .container {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media screen and (max-width: 995px) {
    .container {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media screen and (max-width: 825px) {
    .container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 665px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 495px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 350px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
    }
}